name: Publish

on:
  push:
    branches:
      - develop

jobs:
  publish:
    name: Publish Image
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Push the lectern image on the docker registry
        uses: Ferlab-Ste-Justine/action-push-image@master
        with:
          username: ${{ secrets.FERLAB_DOCKER_HUB_USER }}
          password: ${{ secrets.FERLAB_DOCKER_HUB_TOKEN }}
          image: ferlabcrsj/lectern
          tag_source: ref
          location: .
          dockerfile: Dockerfile